<a href="https://colab.research.google.com/github/Rudrajit12/EDA_Capstone_Project/blob/main/Airbnb_Bookings_Analysis_Capstone_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <b> Since 2008, guests and hosts have used Airbnb to expand on traveling possibilities and present a more unique, personalized way of experiencing the world. Today, Airbnb became one of a kind service that is used and recognized by the whole world. Data analysis on millions of listings provided through Airbnb is a crucial factor for the company. These millions of listings generate a lot of data - data that can be analyzed and used for security, business decisions, understanding of customers' and providers' (hosts) behavior and performance on the platform, guiding marketing initiatives, implementation of innovative additional services and much more. </b>

## <b>This dataset has around 49,000 observations in it with 16 columns and it is a mix between categorical and numeric values. </b>

## <b> Explore and analyze the data to discover key understandings (not limited to these) such as : 
* What can we learn about different hosts and areas?
* What can we learn from predictions? (ex: locations, prices, reviews, etc)
* Which hosts are the busiest and why?
* Is there any noticeable difference of traffic among different areas and what could be the reason for it? </b>

## **First Step: Load the Data and Understand the variables present in the dataset**

In [1]:
# Loading and importing the necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Mount the drive
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [10]:
# Loading the data
bnb_df = pd.read_csv('/content/drive/MyDrive/AlmaBetter Data Science/Module 1/EDA Project/Airbnb NYC 2019.csv')
bnb_df.head()

     id  ... availability_365
0  2539  ...              365
1  2595  ...              355
2  3647  ...              365
3  3831  ...              194
4  5022  ...                0

[5 rows x 16 columns]

## **Data Summary:**


* **id**: An unique id for the airbnb listing (numeric)
* **name**: Name of the airbnb listed property (categorical)
* **host_id**: An unique id for the host of the property (numeric)
* **host_name**: Name of the host of the property (categorical)
* **neighbourhood_group**: A group which consists of many neighbourhoods (categorical)
* **neighbourhood**: Nearby properties of the place (categorical)
* **latitude**: 
* **longitude**
* **room_type**: Type of a room in the listed property (categorical)
* **price**: Cost of stay (numeric)
* **minimum_nights**: Minimum number of nights a person has to pay for (numeric)
* **number_of_reviews**: Reviews given to the property and host (numeric)
* **last_review**: Last review given (datetime)
* **reviews_per_month**: Average reviews over a month (numeric)
* **calculated_host_listings_count**: How many listings a particular host has (numeric)
* **availability_365**: Availability of the property out of 365 days (numeric)

In [11]:
# let us check the data types of the variables
bnb_df.dtypes

id                                  int64
name                               object
host_id                             int64
host_name                          object
neighbourhood_group                object
neighbourhood                      object
latitude                          float64
longitude                         float64
room_type                          object
price                               int64
minimum_nights                      int64
number_of_reviews                   int64
last_review                        object
reviews_per_month                 float64
calculated_host_listings_count      int64
availability_365                    int64
dtype: object

In [12]:
# how many records present in the dataset?
len(bnb_df)

48895

## **Second Step: Check the number of missing values present in the dataset**

In [13]:
# how many missing values are present in the dataset?
bnb_df.isnull().sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

We have 4 columns in which there are missing values present. The columns name, host_name and last_review are irrelevant for our analysis and hence we can drop these columns.

## **Third Step: Missing value treatment**

### We can drop the irrelevant columns and replace the NaN values with a suitable measure. In this case, NaN values will be replaced by 0 for reviews_per_month column.

In [14]:
# We can drop the unnecessary columns from the dataframe
bnb_df.drop(['id','name','host_name','last_review'], axis=1, inplace=True)
bnb_df.head()

   host_id  ... availability_365
0     2787  ...              365
1     2845  ...              355
2     4632  ...              365
3     4869  ...              194
4     7192  ...                0

[5 rows x 12 columns]

In [15]:
# We can replace all NaN values in reviews_per_month by 0
bnb_df.reviews_per_month.fillna(0, inplace=True)
bnb_df.head()

   host_id  ... availability_365
0     2787  ...              365
1     2845  ...              355
2     4632  ...              365
3     4869  ...              194
4     7192  ...                0

[5 rows x 12 columns]

In [16]:
# check for any missing value
bnb_df.isnull().any()

host_id                           False
neighbourhood_group               False
neighbourhood                     False
latitude                          False
longitude                         False
room_type                         False
price                             False
minimum_nights                    False
number_of_reviews                 False
reviews_per_month                 False
calculated_host_listings_count    False
availability_365                  False
dtype: bool

### We are left with no missing value and ready to progress for our analysis part.